body {
  font-family:'Abel', sans-serif ;
  color: #969696;
}


h1 {
  font-size: 4em;
  font-family: 'Inconsolata', sans-serif ;
  font-weight: 900;
  margin: 10px 0px 0px 0px;
  text-align: center;
  color: #225ea8;
  /*text-decoration: underline;*/
}

h2 {
  font-size: 52px;
  font-family: 'Inconsolata', sans-serif ;
  font-weight: 900;
  margin: 5px 0px 0px 0px;
  text-align: center;
  color: #225ea8;
  /*text-decoration: underline;*/
}

h3 {
  font-size: 1.5em;
  margin: 0px;
}

h4 {
  font-size: 1em;
  margin: 5px;
  /*color: #439fd8;*/

}

.social-icons {
  position: fixed;
}

.fa-twitter,
.fa-facebook {
  background-color: #eee;
  padding: 5px;
  margin-top: 5px;
  color: #31cfff;
}

.fa-facebook:hover,
.fa-twitter:hover {
  color: #225ea8;
}

.center {
  text-align: center;
}

img {
  margin:auto;
}

#main-title {
  font-size: 7em;
}

#header {
  margin-top: 1em;
  margin-bottom: 7em;
}

#main {
  padding-left: 12%;
  padding-right: 12%;
}

.minutes {
  margin:auto;
}

.subtitle {
  font-size: 1.3em;
  text-align: center;
}

.fact {
  border-left: 1px solid #ddd;
  margin-bottom: 12em;
}


.btn {
  outline: none;
  box-shadow: none;
  background: #fff;
  border: 2px solid #31cfff;
  padding: 0.5em 3em;
  margin-bottom: 2em;
  margin-top: 1em;
  border-radius: 0px;
  font-size: 1.2em;
  font-weight: bold;
  color: #999;
}

.btn:hover {
  border: 2px solid #225ea8;
  color: #31cfff;
}


/*D3.js*/

canvas,
svg {
    display: block;
    margin: auto;
}




  .jr-speechbubble {
    background:#225ea8;
    border-radius:1rem;
    max-width:350px;
    margin:0 0 0.5rem;
    padding:1rem;
    position:relative;
  }

  .jr-speechbubble:before {
    border:0.5rem solid #225ea8;
    border-color:transparent #225ea8 transparent transparent;
    content:"";
    left:-1rem;
    position:absolute;
  }

  .jr-speechbubble-right {
    background:#225ea8;
  }

  .jr-speechbubble-right:before {
    content:none;
  }

  .jr-speechbubble-right:after {
    border:0.5rem solid #225ea8;
    border-color:transparent transparent transparent  #225ea8;
    content:"";
    right:-1rem;
    position:absolute;
  }
  .jr-speechbubble span {
    color:#fff;
    font-size: 1.5em;
  }


@media only screen and (max-width: 601px) {
  #header{ margin-top: 1.5em;}
  #main-title {font-size: 4em;}
  .fact {border-left: none; margin-bottom: 7em;}
  .globe {margin-bottom: 7em;}
  }
